# Created by https://www.toptal.com/developers/gitignore/api
# Edit at https://www.toptal.com/developers/gitignore

### OpenAPI ###

# Dependency directories
node_modules/
jspm_packages/
.DS_Store
*/.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# End of https://www.toptal.com/developers/gitignore/api
